/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables */


:root {
--white: #FFFFFF;

--black: #000000;

--blue: #32425C;
--shadowblue: #293449;
--darkblue: #1D2739;

--grey: #A9A9A9;

--red: #EE3643;
--yellow: #FFBF47;
--orange: #FFD180;
--lightblue: #3BBCE3;
--purple: #DC91D8;
--green: #8ED78F;

/* background */

--lightgrey: #C5C5C5;
--darkgray: #A9A9A9;
--lightred: #CA2C37;
--darkred: #BA2732;
--lightgreen: #5FBB2D;
--darkgreen: #518534;
--darkblack: #161D29;
--basicgreen: #63A63E;
--darkwhite: #F9F5F0;
--darkgrey: #F1F5F7;
--lightwhite: #EAEAEA;
}


/*Global*/


body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum";
  font-size: normal;
  line-height: normal;
  font-weight: normal;
}



a {
  text-decoration: none;
  color: var(--white);
}



img {
  max-width: 100%;
  height: auto;
}



/*main-header*/


.main-header {
padding: 0;
margin: 5px;
color: var(--white);
font-size: 18px;
line-height: 24px;
}

.main-logo {
  background: var(--red);
  text-align: center;

}

.nav-shop {
  background: var(--shadowblue);
  list-style: none;
}


.search {
  background-color: var(--shadowblue);
}

.search:hover {
  background-color: var(--white);
}

.bookmarks:focus {
  background-color: var(--darkblack);
}

.basket:focus {
  background-color: var(--darkblack);
}
.box {
  background-color: var(--basicgreen);
}

.box:hover {
  background-color: var(--lightgreen);
}


.box:focus {
  background-color: var(--basicgreen);
}

.text-header {
  font-style: oblique;
  color: var(--red);
  font-size: 16px;
  line-height: 23px;
}

.tel-header {
  color: var(--red);
  font-weight: bold;
}

.adress-header {
  color: var(--blue);
  font-size: 14px;
  line-height: 24px;
}

.login {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0.0001);
  font-size: 21px;
  line-height: 21px;
}

.login:hover {
  color: var(--red);
}

.login:focus {
  color: var(--lightgrey);
}

.main-nav {
  background-color: var(--blue);
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

.nav-list:hover {
  background-color: var(--shadowblue);
}

.nav-list:focus {
  background-color: var(--darkblue);
}




/* main */


.feature-list {
  list-style: none;
}

.feature-item {
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--yellow);
}


.materials,
.tools,
.tehnic,
.discount,
.delivery {
  font-size: 24px;
  line-height: 30px;
  color:var(--white);
  width: 300px;
  height: 123px;
  padding: 20px;
}

.materials,
.delivery {
  background-color: var(--yellow);
}

.tools {
  background-color: var(--lightblue);
}

.tehnic {
  background-color: var(--purple);
}

.discount {
  background-color: var(--green);
}
.btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  opacity: 0.3;
}

.btn:hover {
  opacity: 0.3;
}

.btn:focus {
  opacity: 0.3;
}

.materials a:hover,
.tools a:hover,
.tehnic a:hover,
.discount a:hover,
.delivery a:hover {
  background-color: var(--lightgrey);
}

.materials a:focus,
.tools a:focus,
.tehnic a:focus,
.discount a:focus,
.delivery a:focus {
  background-color: var(--darkgray);
}




.text-perforator {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  background-image: url("../img/fon.jpg");
  width: 620px;
  height: 266px;
  color: var(--white);
  padding: 23px;
}

.text-drill {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  background-image: url("../img/fonn.jpg");
  width: 620px;
  height: 266px;
  color: var(--white);
  padding: 23px;
}


.text {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.button {
  background-color: var(--red);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}



.button:hover {
  background-color: var(--lightred);
}

.button:focus {
  background-color: var(--darkred);
}



.btn-next,
.btn-back {
  color: var(--white);
}



/*Popular goods*/


.wrap {
  background-color: var(--darkwhite);
}


.feature-items {
  list-style: none;
}

.cart {
  border : 1px solid var(--lightwhite);
}

.heading {
  color: var(--blue);
  font-size: 30px;
  line-height: 30px;
  padding: 20px;
}


.product-name {
  color: var(--black);
  font-size: 18px;
  line-height: 20px;
}


.old-price {
  color: var(--grey);
  font-size: 17px;
  line-height: 18px;
  background-color: var(--white);
}


.button-price {
  color: var(--white);
  font-size: 17px;
  line-height: 18px;
  background-color: var(--red);
  width: 141px;
  height: 38px;
}


.buy {
  color: var(--white);
  background: var(--basicgreen);
  font-size: 14px;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
}


.buy:hover {
  background-color: var(--lightgreen);
}

.buy:focus {
  background-color: var(--darkgreen);
}


.in-bookmarks {
  border: 3px solid var(--basicgreen);
  border-radius: 2px;
  color: var(--blue);
  background-color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}



.in-bookmarks:hover {
  border: 3px solid var(--blue)
  opacity: 0.9;
}


.in-bookmarks:focus {
  border: 3px solid var(--blue);
  opacity: 0.3;
}



/* LOGO */


.feature-logo {
  list-style: none;
  background-color: var(--white);
}


.logo-partner {
  width: 220px;
  height: 145px;
  background: var(--white);
  border: 1px solid var(--lightwhite);
  text-align: center;
}

.logo-partner:hover {
  background: var(--white);
  border: 1px solid var(--lightwhite);
}

.logo-partner:focus {
  background: var(--white);
  border: 1px solid var(--lightwhite);
}

/*info*/


.info {
  background-color: var(--darkgrey);
}


.caption {
  color: var(--black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}


.text-info {
  color: var(--black);
  font-size: 13px;
  line-height: 24px;
  list-style: none;
}



.caption-list {
  font-size: 21px;
  line-height: 30px;
  list-style: none;
}


.table-button {
  background-color: var(--blue);
  color: var(--white);
  width: 240px;
  height: 61px;
  text-align: left;
  padding: 20px;
  border: 1px solid var(--blue);
}

.table-button:hover {
  background-color: var(--shadowblue);
}

.table-button:active {
  background-color: var(--white);
  color: var(--black);
}


.info-partner {
  color: var(--black);
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}



/* FOOTER */


.footer {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--blue);
}



.footer-logo {
  background-color: var(--red);
}


.footer-nav {
  list-style: none;
}

.footer__nav-list:hover {
  text-decoration: underline;
}


.footer__nav-list:focus {
  color: var(--darkgrey);
  opacity: 0.5;
}



.footer-list {
  list-style: none;
}


.footer-shop {
  color: var(--orange);
}


.footer-shop:hover {
  text-decoration: underline;
}


.footer-shop:focus {
  color: var(--orange);
  opacity: 0.5;
}

/*footer-footer*/



.footer-footer {
  background-color: var(--shadowblue);
  font-size: 16px;
  line-height: 18px;
}


.social {
  list-style: none;
}


.social-button:hover {
  background-color: var(--red);
}


..social-button:focus {
  background-color: var(--red);
}



.copyright {
  color: var(--orange);
}


.copyright:hover {
  text-decoration: underline;
}


.copyright:focus {
  color: var(--red);
}
